body {
	background-color: #000000;
}

.logo {
	background-image: url('midnightcrew.png');
}

.nav {
	background: #ffffff;
}

#left {
	background: #ffffff;
	border-color: #e6180a;
}

#news {
	background: #ffffff;
}


.nav a {
	color:#000000 !important;
}

a {
	color: #000000 !important;
}

#page {
	background: #ffffff;
	border-color: #e6180a;
}
